h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('#');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal-bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal-content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
  